WakeUp/.classpath
WakeUp/.settings
WakeUp/.project
WakeUp/bin/*.class
androidApp/.idea/*
androidApp/app/build/*
androidApp/out/*
androidApp/android/build.xml
androidApp/android/local.properties
androidApp/android/gradlew
androidApp/android/gradlew.bat
androidApp/android/gradle

#eclipse
.metadata/

.recommenders/
androidApp/app/src/main/gen/
androidApp/app/src/main/main.iml
androidApp/app/src/androidTest/androidTest.iml
